#MyHeader
{
    height:180px;
    background-color:DarkGoldenrod;
     color:#D5dbdb;
     width:100%;
    margin-top: 0px;
}
#MyShowBar
{
    height:30px;
    background-color:pink;
     color:#D5dbdb;
     width:100%;
}
#MyLeft
{
    background-color:Black;
     color:gold; 
     height:730px; 
     width:19.5%; 
     float:left;
     border: 2px solid maroon;
    }
    
    

#MyRight
{
    background-color:DarkSalmon; 
    height:730px;
     width:80%;
      float:right;
    }
    
#MyFooter
{
    background-color:DarkGoldenrod; 
    height:80px;
     width:100%; 
     float:left;
    
    }
    
    #Im1{
	border: 3px solid purple; 
	}
	
	a
	{
	   text-align: center;
	   color:Gold;
	    
	    }
	    