#MyHeader
{
    height:180px;
    background-color:#984438;
     color:#D5dbdb;
     width:100%;
    margin-top: 0px;
}
#MyShowBar
{
    height:30px;
    background-color:maroon;
     color:#D5dbdb;
     width:100%;
}
#MyLeft
{
    background-color:black;
     color:gold; 
     height:730px; 
     width:19.5%; 
     float:left;
     border: 2px solid black;
    }
    
    

#MyRight
{
    background-color:white; 
    height:730px;
     width:80%;
      float:right;
    }
    
#MyFooter
{
    background-color:#984438; 
    height:80px;
     width:100%; 
     float:left;
    
    }
    
    #Im1{
	border: 3px solid black; 
	}
	
	a
	{
	   text-align: center;
	   color:Gold;
	   background-color:Black;
	    
	    }
	    
	    p
	    {
	        color:Black;
	        
	        }
	    
	    h2,h3
	    { color:Black;
	        }
	        
	   
	        